body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input,
button {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 100%;
}

button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.hidden {
  display: none;
}
